/ChangePassword.class
/CreateChatroom.class
/CreateLogin.class
/DeleteChatroom.class
/DeleteLogin.class
/JoinChatroom.class
/LeaveChatroom.class
/ListChatroomUsers.class
/ListChatrooms.class
/Login.class
/Logout.class
/Message.class
/MessageError.class
/MessageText.class
/Ping.class
/Result.class
/SendMessage.class
/UserOnline.class
